@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

*,
*::before,
*::after {
  /* border: solid green 1px; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

:root {
  background: var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);

  transition: all 0.5s ease-in-out;
}

[data-theme='light'] {
  --background-color: #ecf0f3;
  --text-color: #121416d8;
  --accent-color: #1ca3ec;
  --neu-1: #ffffff;
  --neu-2: #d1d9e6;
}

[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --accent-color: #f2994a;
  --neu-1: #2e3338;
  --neu-2: #14181b;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.nav-container {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 100px;
  height: 100px;
  z-index: 10;
  box-shadow: 8px 8px 8px var(--neu-2), -4px -4px 8px var(--neu-1);
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.nav-item {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  width: 50px;
  height: 50px;

  background: var(--background-color);
  box-shadow: 4px 4px 8px var(--neu-2), -2px -2px 8px var(--neu-1);

  border: transparent;
  border-radius: 100%;

  z-index: 20;
  transition: all 0.5s ease-in-out;

  font-size: 24px;
}

.nav-item:active {
  box-shadow: inset 4px 4px 8px var(--neu-2), inset -2px -2px 8px var(--neu-1);
}

.open-nav {
  z-index: 20;
}

.open-nav:active {
  box-shadow: inset 4px 4px 8px var(--neu-2), inset -2px -2px 8px var(--neu-1);
}

.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3) {
  opacity: 0;
}

.nav-item.open {
  opacity: 1;
}

.nav-container.open {
  height: 325px;
}

.open-nav.open {
  color: var(--accent-color);
  box-shadow: inset 4px 4px 8px var(--neu-2), inset -2px -2px 8px var(--neu-1);
}

.open-nav i {
  transition: transform 0.5s ease-in-out;
}

.open-nav.open i {
  transform: rotate(45deg);
}

.nav-item.open:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 75px);
}

.nav-item.open:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 150px);
}

.nav-item.open:nth-child(3) {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 225px);
}
